*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.container {
  width: 1024px;
  height: 728px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  box-sizing: inherit; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 0.7rem; 
}

.gallery__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--6 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--7 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--8 {
  grid-column-start: 8;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 6;
}

.gallery__item--9 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 7;
  grid-row-end: 7;
}

.gallery__item--10 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 7;
}

.gallery__item--11 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}

.gallery__item--12 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 7;
}

.gallery__item--13 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 7;
}

.gallery__item--14 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 7;
}

.gallery__item--15 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 7;
}
.gallery__item--16 {
  grid-column-start: 8;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 7;
}
.gallery__item--17 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--18 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--19 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--20 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--21 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--22 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--23 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--24 {
  grid-column-start: 8;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--25 {
  grid-column-start: 9;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 8;
}
.gallery__item--26 {
  grid-column-start: 9;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 7;
}
.gallery__item--27 {
  grid-column-start: 9;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 6;
}