/*
#header{
  height: 83px;
  width: 588px;
  position: fixed;
  position: absolute;
  top: 15px;
  left: 650px;
  background-image: url("images/header1.jpg");
  border-radius: 5px;

}
*/

.right {
  top: 3%;
  position: absolute;
  left: 90%;
}

.btn_font {
  font-family: 'Odibee Sans', cursive !important; 
  font-size: 50px !important;
}

#font_time {
  font-weight: bold;
  font-family: 'Odibee Sans', cursive;
  font-family: 25px;
  position: absolute;
  top: 3%;
  margin-left: 0.60em;
  font-size: 30px;
}

#user_time {
  padding-left: 140px;
  padding-top: 270px;
  font-weight: bold;
  font-family: Verdana;
  font-family: 25px;
}

#best_time {
  padding-left: 80px;
  font-family: Verdana;
  font-weight: bold;
  font-weight: 20px;
}

#average_time {
  padding-left: 80px;
  font-family: Verdana;
  font-weight: bold;
  font-weight: 20px;
}

#copyRight {
  padding-left: 790px;
  padding-top: 275px;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

#copyRight a {
  color: #2B2C27;
}

#copyRight a:hover {
  color: #AA3B0C;
  font-size: 25px;
}

body, html {
  background-color: #d6f1ff;
  overflow: hidden;
}

#backgroundImage {
  background-image: url("images/background1-1024.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1024px;
  height: 728px;
  /* background-image: url("images/background1.png");
  width: 80em;
  height: 60em;
  top: 115px;
  left: 450px;
  border-radius: 15px; */
}

#introImage {
  background-image: url("images/intro_desktop1024.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1024px;
  height: 728px;
  /* background-image: url("images/intro_desktop.png");
  padding-top: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat; */
}

#img {
  background-color: none;
  background-repeat: no-repeat;
  display: none;
  border-radius: 15px;
  z-index: 9999;
}

.transparent {
  background-color: Transparent;
}

.uppercase {
  text-transform: uppercase;
}

.center {
   width: 300px;
   height: 300px;
   position: absolute !important;
   left: 78%;
   top: 30%; 
   margin-left: -150px;
   margin-top: -150px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#canvas {
  outline:1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1024px;
  height: 728px;
  background: white;
}